Lab 1/.dvc/cache/
Lab 1/.dv/tmp/
Lab 1/*pkl
__pycache__/
Lab 1/*joblib
Lab 1/.dvc/config

Lab 2/*pkl
Lab 2/*.joblib
Lab 2/.dvc/config
Lab 2/data/input/processed/*
Lab 2/data/output/*
Lab 2/models/*.joblib
Lab 2/*.env
Lab 1/.dvc/config
